:root {
  --font-size: 1rem;
  --font-family: 'Open Sans', sans-serif;
  --font-family-heading: 'Neucha', sans-serif;
  --background-color: #dae0e0;
  --font-color: #121212;
  --page-width: 1110px;
}
